* {
  margin: 0px;
  padding: 0px;
}
h1 {
  font: bold 20px verdana, sans-serif;
}
h2 {
  font: bold 14px verdana, sans-serif;
}
#agrupar{
  margin: 0 auto;
  
  width: 70%;
  border: 3px solid black;
  padding: 10px;
}
#cabecera{
  background-color: rgba(224, 198, 83, 0.863);
  padding: 20px;
  border: 1px solid rgba(126, 110, 40, 0.863);
}
#menu{
  background-color: rgb(175, 172, 172);
  
}
ul, li{
  display: inline-block;
  background-color: rgb(175, 172, 172);
  padding: 4px;
  font: bold 14px verdana, sans-serif;
}
ul{
  padding: 0;
  margin: 0;
}

li:hover{
  background: rgba(224, 198, 83, 0.863);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#pie{
  background-color: gray;
  
  text-align: center;
  padding:20px ;
  font: bold 14px verdana, sans-serif;
}

